/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #aeaeae;
}

/* MACROCONTAINER THIS SECTION CONTAIN ALL SECTIONS */
.macrocontainer{
    width: 80%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 15px;
}

/* HEADER */
header{
    margin-bottom: 45px;
}

header a, header nav.nav-menu ul li a{
    text-decoration: none;
}

header a img{
    width: 220px;
    margin-bottom: 45px;
}

header nav.nav-menu ul{
    list-style: none;
    text-transform: uppercase;
}

header nav.nav-menu ul > li{
    display: inline-block;
    margin-right: 15px;
}

header nav.nav-menu ul > li a:hover{
    color: black;
    transition: 0.5s;
}


/* MAIN */
main{
    margin-bottom: 8px;
}

/* INFO */
main .info{
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 45px;
    border-radius: 15px;
}

main .info .layover{
    height: 670px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}

main .info .layover .text-container{
    width: 50%;
    padding-top: 420px;
    padding-left: 70px;
}

main .info .layover .text-container *{
    color: white;
}

main .info .layover .text-container h1{
    line-height: 48px;
    font-size: 35px;
}

main .info .layover .text-container p{
    line-height: 30px;
}


/* INTERACTIONS */
main .clearfix::after{
    content: '';
    display: table;
    clear: both;
} 

main .interactions{
    padding-bottom: 45px;
}

main .interactions .int{
    float: left;
}

main .interactions .title.int{
    width: 100%;
    margin-bottom: 45px;
}

main .interactions .title.int .leadership h2{
    color: black;
    font-size: 45px;
}

main .interactions .int:nth-of-type(even){
    width: 20%;
}

main .interactions .center{
    width: calc(60% - 30px);
    margin: 0 15px;
}

/* MAIN INTERACTIONS UTILITY */
main .interactions section.int .img{
    height: 280px;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    border-radius: 15px;
}

main .interactions section.int .img .layover-img{
    height: 280px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}

main .interactions section.int .content h3{
    color: black;
    margin-bottom: 20px;
}

/* INTERACTIONS CONTENTS */
main .interactions section.int:nth-child(2) .img{
    background-image: url(../img/img-1.jpg);
}

main .interactions section.int:nth-child(3) .img{
    background-image: url(../img/img-2.jpg);
}

main .interactions section.int:last-child .img{
    background-image: url(../img/img-3.jpg);
}

/* FOOTER */
footer{
    width: 100%;
    height: 50px;
    background-color: #8700fe;
}